<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<variable name="logFormat" value="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"/>
	<variable name="loginFormat" value="${time}|LOGINSERVER|${level:uppercase=true}|${message}"/>
	<variable name="logDirectory" value="${basedir}/logs/login" />
	<variable name="logFileName" value="${logDirectory}/login_server_${shortdate}.log" />
	<targets async="true">
		<!-- Arquivo principal -->
		<target name="loginFile" xsi:type="File"
	            fileName="${logFileName}"
            archiveFileName="${logDirectory}/archives/login_server_{#}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            maxArchiveFiles="30"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=ToString}}" />

		<!-- Console com cores -->
		<target name="loginConsole" xsi:type="ColoredConsole"
				layout="${loginFormat}"
				useDefaultRowHighlightingRules="false">
			<highlight-word regex="LOGINSERVER" foregroundColor="DarkBlue"/>
			<highlight-word regex="SERVER&gt;&gt;" foregroundColor="Green"/>
			<highlight-word regex="CLIENT&gt;&gt;" foregroundColor="Cyan"/>
			<highlight-word regex="AUTH&gt;&gt;" foregroundColor="Magenta"/>
			<highlight-word regex="ERROR" foregroundColor="Red"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="loginFile,loginConsole" />
	</rules>
</nlog>